@font-face {
  font-family: Consolas;
  src: url(../fonts/CONSOLAB.TTF) format('truetype');
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
  font-size: 16px;
}

#banner{
  width: 100%;
  background-color: silver
}

#banner img{
   display: block;
   width: 300px;
   height: 300px;
   border-radius: 50%;
   border: 2px solid black;
   margin: 0 auto;
}

#descrição{
  text-align: center;
  max-width: 50%;
  margin: 0 auto;
}

#nome{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3rem ;
  color: black;
  border: 1px black;
}

#local{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

#graduação{
  font-family:  Consolas, Courier, monospace;
  font-size: 1rem;  
}

#menu-bar{
  max-width: 100%;
  text-align: center;
  margin-top: 10px;
}

#menu-bar a{
  cursor: pointer;
  text-decoration: none;
  color: black;
  margin-top: 25px;
  font-family:  Consolas, Courier, monospace;
}

#menu-bar a:hover{
  color: yellowgreen;
  border: 2px solid black;
  border-radius: 5px;
}

#menu-bar a:active{
  color: blue;
}

#menu-bar a:visited{
  color: black;
}

#menu-bar li{
  display: block; 
}

@media screen and (max-width: 612px ){
  #nome{
    font-size: 1.47rem;
    font-weight: bold;
  }

  #local{
    font-size: 1rem;
  }

  #graduação{
    font-size: 1rem;
  }

  #menu-bar li{
    display: block;
  }
}

