h2{
  text-transform: uppercase;
  font-family: "Comforter Brush","Comic Sans MS", sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
  color: rgba(12,132,132,0.65);
}
body{
  background-color: hsl(171,10%,85%);
}
main{
  background-image: url('https://image.freepik.com/fotos-gratis/quadro-negro-verde-sujo_125540-774.jpg');
  height:400px;
  border: ridge gold 6px;
}

h1{
  font-family: "Comforter Brush","Comic Sans MS", sans-serif;
  text-align: center;
  letter-spacing: 0.3em;
}
#c{
  color: rgba(14,67,33,0.7);
}
#h{
  color: rgba(71,41,222,0.5);
}
#e{
  color: rgba(123,55,32,0.5);
}
#a{
  color: rgba(95,51,56,0.6);
}
#t{
  color: rgba(56,77,81,0.7);
}
#s{
  color: rgba(95,57,84,0.7);
}
#table{
  margin: auto;
}

#course,#game{
  font-family: "Comforter Brush","Comic Sans MS", sans-serif;
  letter-spacing: 10px;
  text-transform: uppercase;
  color: rgba(255,255,255,0.36);
  border-color: rgba(255,255,255,0.34);
}
td,th{
  border-right-style: dotted;
  border-bottom-style: dotted;
}


