@font-face {
  font-family: Consolas;
  src: url(../fonts/CONSOLAB.TTF) format('truetype');
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
  font-size: 16px;
  background-color: darkgrey;
}

#banner{
  width: 350px;
  background-color: gray;
  float: left;
  border-top: 1px solid lightslategray;
  border-bottom: 1px solid lightslategray;
}

#banner img{
   display: block;
   width: 300px;
   height: 300px;
   border-radius: 50%;
   border: 2px solid black;
   margin: 0 auto;
}

#descrição{
  max-width: 100%;
  text-align: center;
  margin-top: 150px;
  background-color: gainsboro;
  border-top: 1px solid lightslategray;
}

#nome{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3rem ;
  color: black;
  border: 1px black;
}

#local{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 2.5rem;
}

#graduação{
  font-family:  Consolas, Courier, monospace;
  font-size: 1rem;
  line-height: 2.5;  
}

#graduação:hover{
  color: yellowgreen;
}

#menu{  
  width: 100%;
  background-color: silver;
  height: 10.3rem;
  padding-top: 55px;
  border-bottom: 1px solid lightslategray;
}

#menu-bar{
  margin: 0 auto;
  background-color: silver;
}

#menu-bar ul{
  text-align: center;
}

#menu-bar a{
  cursor: pointer;
  text-decoration: none;
  color: black;
  margin-top: 100px;
  font-family:  Consolas, Courier, monospace;
}

#menu-bar a:hover{
  background-color: yellowgreen;
  color: black;
  border: 2px solid black;
  border-radius: 5px;
}

#menu-bar a:active{
  color: blue;
}

#menu-bar a:visited{
  color: black;
}

#menu-bar li{
 list-style: none;
}

@media screen and (max-width: 654px ){
#banner{
  width: auto;
  margin: 0 auto;
  float: none;
}

#banner img{
  width: 275px;
  margin: 0 auto;
}

#descrição{
 margin-top: 0;
}

#nome{
  font-size: 2rem;
}

}

